[MasterList]
dataroot=/home/stefan/data
ExperimentName=HerP2
output=HerP2-masterlist.json
#patient_exclude : HerP2Bs06, HerP2Bs07, HerP2Bs08, HerP2Bs04, HerP2Bs05

# -----------------------------------------------------------------------------
# now specify a label as a section name
# and the associated protocol name and studynumber are items under that section

[anatomy]
protocol_name=03_RARE_T2w_coronal_hires
study=1
scan=0
bounding_box :  .2 .6 .2 .8

[axref]
protocol_name=03_RARE_T2w_ax
study=-1
scan=-1
bounding_box :  .2 .6 .2 .8

[0h-LL]
protocol_name=ubcLL2_base_HCT_SQ
study=-2
scan=0

[-24h-LL]
protocol_name=ubcLL2_base_HCT_SQ
study=-1
scan=0

[+24h-LL]
protocol_name=ubcLL2_base_HCT_SQ
study=-1
scan=1

[24h-DCE]
protocol_name=06_FLASH2D.6sl-DCE
study=-1
scan=-1
bounding_box :  .2 .6 .2 .8

# ------------------------------------------------------------
# Exceptions are awkward but there you go; 
# We deal with them on a patient by patient basis
# Note that we only need to fix what deviates from the defaults above

#[EXCEPTION.+24h-LL.HerP2Bs03]
#protocol_name=ubcLL2_base_HCT_SQ
#study=1
#scan=0

