[Defaults]
dataroot=/home/stefan/data
output=.
master_list=HerP2-masterlist.json
#ROI_box=
ref_row=row2

[row1]
label=anatomy
type=bruker

[row2]
label=24h-DCE
type=bruker

#[row2]
#label=24h-DCE
#type=1D   ; this could be a single enhancement curve
#adata=AUC_tumour

#[row3]
#label=24h-DCE
#type=VTC
#adata=vtc

#[row4]
#label=CD31
#type=histo
#name=HS$pat_$col
