[Defaults]
dataroot=/home/stefan/data
output=/tmp

# this is where we find out where the data sits
master_list=HerP2-masterlist.json

# ref_row is need to resample onto (and determine nr of columns)
ref_row=row1

[row1]
# a label is what is used in the masterlists
label=axref
# something of type=img will be rendered using imshow
type=img
# this and any other option that is not known to the tumourboard parser will
# be handed on to imshow
cmap=gray

[row2]
label=anatomy
type=img
# do not resample, this might mean that slices are not aligned
resample=false
cmap=gray

[row2b]
label=anatomy
subtitle=resampled
type=img
resample=true
cmap=gray

[row3]
label=24h-DCE
type=img
adata=AUC60
resample=false

#[row2]
#label=24h-DCE
#type=1D   ; this could be a single enhancement curve
#adata=AUC_tumour
#type=img


#[row3]
#label=24h-DCE
#type=VTC
#adata=vtc

#[row4]
#label=CD31
#type=histo
#name=HS$pat_$col
