[Defaults]
dataroot=/home/stefan/data
output=.
master_list=HerP2-masterlist.json
#ROI_box=
ref_row=row1

[row1]
label=axref
type=img

[row2]
label=anatomy
type=img
resample=false

[row3]
label=24h-DCE
type=img
adata=AUC60
resample=false

#[row2]
#label=24h-DCE
#type=1D   ; this could be a single enhancement curve
#adata=AUC_tumour
#type=img


#[row3]
#label=24h-DCE
#type=VTC
#adata=vtc

#[row4]
#label=CD31
#type=histo
#name=HS$pat_$col
